@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Montserrat, sans-serif;
}
.video_text h1 {
    font-size: 32px;
    color: #202060;
    padding: 10px 0;
    text-decoration: underline;
}
.video_text h2 {
    font-size: 24px;
    color: #1d134f;
    padding: 10px 0;
    text-decoration: underline;
}
.video_text h3 {
    font-size: 20px;
    font-weight: 500;
    color: #1d134f;
    padding: 10px 0;

}
.video_text table tr:first-child {
    @apply bg-gray-200;
    @apply border-l;
}
.video_text table tr td {
    @apply text-xs;
    @apply font-normal;
    @apply p-2;
    @apply border-gray-400;
    @apply border;
}



.dsection {
  background-image: url("../../public/images/bg/lessons/section-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-bar {
  max-width: 720px;
}
.logo-text {
    font-family: 'Zilla Slab', serif;
}
.l1_top {
  background-image: url('../../public/images/bg/section-bg.svg');
}
.bubble
{
   background: #fcfcfc;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
    border-color: #FF1493;
  border-width: 0 0 0 10px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #fcfcfc transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    right: 20px;
}
.bg-50 {
  background-color: rgba(219, 219, 219, 0.5);
}
.dashboard {
    background-image: url('../../public/images/bg/dashboard_bg.png');

}
.video-container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #000;
}

.video-container video {
    width: 100%;  /* Ensures the video takes the full width */
    height: auto; /* Allows the height to adjust based on the width to keep the aspect ratio */
    max-height: 100%; /* Prevents the video from exceeding the container height */
    object-fit: cover; /* Keeps the video centered and covers the container */
}


/* styles */

.button_steps_sections {
    position: relative;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  color: #0f1111;
  cursor: pointer;
  font-size: 12px;
  line-height: 29px;
  padding: 0 10px 0 10px;

}

.button_steps_sections:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
.phrase_card {
    box-shadow: 0 0 1px 1px rgba(34, 52, 71, .05), 0 1px 6px -1px rgba(34, 52, 71, .03), 0 2px 4px rgba(34, 52, 71, .03);
}
.phrase_card:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, .05), 0 3px 8px rgba(0, 0, 0, .08);
}

.button_steps_sections-top + .button_steps_sections-top::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #3b3b3b; /* Adjust the color as needed */
    margin: 0 auto;
    position: absolute;
    left: -11px; /* Adjust the positioning as needed */
    top: 50%;
    transform: translateY(-50%);
  }
.button_steps_sections-top {
    position: relative;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    color: #0f1111;
    cursor: pointer;
    font-size: 12px;
    line-height: 29px;
    padding: 5px 10px 5px 10px;
}

.button_steps_sections-top:hover {
  background-color: #c2c2c2;
}

.button_steps_sections-top:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}


.card-sticker--badgeGreen:before {
    background-color: #52c41a;
}
.card-sticker--badgeGreen:after {
    background-color:#389e0d;
}
.card-sticker--badgeOrange:before {
    background-color:#faad14
}
.card-sticker--badgeOrange:after {
    background-color:#d46b08
}
.card-sticker--badgeRed:before {
    background-color:#fa2314
}
.card-sticker--badgeRed:after {
    background-color:#b12900
}
.card-sticker {
    position: relative;
    overflow: visible;
}
.card-sticker:before {
    border-radius: 4px 4px 0 4px;
    color: #fff;
    content: attr(data-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 1px 8px;
    position: absolute;
    right: -8px;
    top: 16px;
    z-index: 1;
}
.card-sticker:after {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 0);
    content: "";
    height: 6px;
    position: absolute;
    right: -8px;
    top: 40px;
    width: 8px;
    z-index: 1;
}
.course-card:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, .05), 0 3px 8px rgba(0, 0, 0, .08);
}
.course-card {

    align-items: center;
    cursor: pointer;
    transition: box-shadow .2s;
    background-color: #fff;
    border-radius: 8px;
}
.circle {
    position: relative;
    border: 1px solid;
    border-color: #8cc63e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
.circle-locked {
    position: relative;
    border: 1px solid;
    border-color: #3b72ca86;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.circle-locked i {
    color: #3b72ca86;
    position: absolute;
    top: 35%;
    left: 39%;
}
.checkmark {
position: absolute;
transform: rotate(45deg) translate(-50%, -50%);
left: 37%;
top: 46%;
height: 20px;
width: 10px;
border-bottom: 3px solid #8cc63e;
border-right: 3px solid #8cc63e;
}

/* Mobile */

@media only screen and (max-width:500px) {
    .set-size {
        font-size: 3em !important;
      }
      .space-x-3 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: none;
      }
}

/* Progress circles */
.set-size {
    font-size: 4em;
  }
.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #34495e;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #34495e;
}
.pie-wrapper.style-2 .label .smaller {
  color: #34495e;
}
.pie-wrapper.progress-15 .pie .half-circle {
  border-color: #ff0000; /* Red */
}
.pie-wrapper.progress-15 .pie .left-side {
  transform: rotate(54deg);
}
.pie-wrapper.progress-15 .pie .right-side {
  display: none;
}

.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #ff4000; /* Red-Orange */
}
.pie-wrapper.progress-30 .pie .left-side {
  transform: rotate(108deg);
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}

.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #ff8000; /* Orange */
}
.pie-wrapper.progress-45 .pie .left-side {
  transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #ffbf00; /* Yellow-Orange */
}
.pie-wrapper.progress-60 .pie .left-side {
  transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
  transform: rotate(180deg);
  display: block; /* Ensure right-side is visible for 60% and above */
}

.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #bfff00; /* Yellow-Green */
}
.pie-wrapper.progress-75 .pie .left-side {
  transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
  transform: rotate(180deg);
  display: block; /* Ensure right-side is visible */
}

.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #00ff00; /* Green */
}
.pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(324deg);
}
.pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(180deg);
  display: block; /* Ensure right-side is visible */
}
